.navbar {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 0.1rem solid black;
}

.navbar .nav-links {
  display: flex;
  width: 94%;

  display: flex;
  justify-content: space-between;
}

.navbar .nav-links p {
  margin: 0;
  padding: 0;
}

.navbar .nav-links a {
  text-decoration: none;
  color: black;
}
