.playlist {
  width: 50%;
  height: 100%;

  background-color: white;
  border-right: 0.1rem solid black;
}

.playlist ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.playlist ul li {
  margin: auto;
  width: 95%;
  height: 64px;

  border-bottom: 0.1rem solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist ul li .li-content {
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.playlist ul li .li-content .song-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist ul li .li-content .song-text h4 {
  margin: 0;
  padding: 0;
}

.playlist ul li .li-content .song-text p {
  margin: 0;
  padding: 0;
}

.playlist ul li .li-content img {
  height: 46px;
  width: 46px;
}
